.main {

    .containerfluid {
        display: flex;
        flex-direction: column;


        .slide {
            display: grid;
            grid-template-columns: minmax(69%, 1fr) minmax(34%, 1fr);


            img {
                width: 100%;
            }
        }
    }



    .message {
        width: 30px;
        height: 30px;
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 10150;
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: #ff0019;
        cursor: pointer;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
        animation: pulse 2s infinite;
    }

    .message:hover {
        animation: none;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgb(255, 0, 0, 0.4);
        }

        60% {
            -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
        }

        100% {
            -webkit-box-shadow: 0 0 0 0 rgb(205, 0, 0, 0.4);
        }
    }

    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
            box-shadow: 0 0 0 0 rgb(255, 0, 0, 0.4);
        }

        60% {
            -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
        }

        100% {
            -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
        }
    }



}