.yourBrand {
    .chooseYourBrand {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        align-items: center;

        .textBrands {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        button {
            width: 170px;
            height: 40px;
            background-color: white;
            border: 1px solid black;
        }
    }

    .brands {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 20px 0;


        img {
            width: 100%;
            background-color: white;
            border: 3px solid rgb(245, 245, 245);
        }
    }
}